In [80]:
import geopandas as gpd
import pandas as pd
gdb = r'\\spatialfiles.bcgov\work\srm\fsj\Workarea\nross\WMBPlanning\Data\2025-01-28_ConfidentialDraftZones\DraftProtectionZonesAnalysis.gdb'

gdf = gpd.read_file(gdb, layer='Group1_protection_Crwn_Union')
list(gdf.columns)

['FID_DraftZones_Group1_1ha_HV1_Dissolved_2025_01_28',
 'Zone',
 'HVArea',
 'Area_ha',
 'OWN',
 'SCHEDULE',
 'OWNERSHIP_DESCRIPTION',
 'DATA_SOURCE',
 'FCODE',
 'FEATURE_AREA_SQM',
 'FID_F_OWN',
 'Shape_Length',
 'Shape_Area',
 'geometry']

In [81]:
gdf.loc[gdf['OWN'] > 0, 'Crown'] = 'Crown'
gdf.loc[gdf['OWN'] == 0, 'Crown'] = 'Private'
gdf["Area_ha"] = gdf.area / 10000

In [82]:
# out = pd.pivot_table(gdf, index=['HVArea'], columns=['Crown', 'Zone'], values="Area_ha", aggfunc="sum")
out = pd.pivot_table(gdf, index=['HVArea'], columns='Crown', values="Area_ha", aggfunc="sum")

In [83]:
list(out.columns)
out

Crown                                      Crown      Private
HVArea
Dancing Ground HV1C                   791.604439          NaN
Grizzly Creek North HV1C             5325.280697    77.940595
Grizzly Creek South HV1C             7565.340724  1873.876925
Inga Lake HV1B                       2925.590249   237.163066
Mile 27 Down HV1B                    4093.333090          NaN
North Aitken HV1B                   10622.839108          NaN
Wolf Davis Trapping NorthWest HV1B   3033.557592          NaN
Wolf Davis Trapping SouthEast HV1B  13837.201024    48.405782
Yahey Family2 HV1B                   4012.937740    56.839376

In [74]:
out = out.fillna(0)
out['Protection / Crown'] = (out['Crown']['Protection']) / (out['Crown']['Protection'] + out['Crown']['Development'])
out['% Private'] = (out['Private']['Protection'] + out['Private']['Development']) / (out['Private']['Protection'] + out['Private']['Development'] + out['Crown']['Development'] + out['Crown']['Protection'])
out

Crown                            Crown                   Private              \
Zone                       Development    Protection Development  Protection
HVArea
Blair Creek HV1B           1528.647308   6113.974662   99.278586   30.967895
Cameron Headwaters HV1B    2682.715551  10730.634981  782.913632  128.583442
Pink Mountain - East HV1C  6052.228641  11788.904920  560.465591  182.766646

Crown                     Protection / Crown % Private
Zone
HVArea
Blair Creek HV1B                    0.799984  0.016757
Cameron Headwaters HV1B             0.799997  0.063630
Pink Mountain - East HV1C           0.660771  0.039992